/*
* Ways of centering a div
*/

/*
* 1.
.parent {
  height: 350px;
  width: 350px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  height: 50%;
  width: 50%;
  background-color: red;
}
*/

/*
* 2.
.parent {
  height: 350px;
  width: 350px;
  background-color: blue;
  display: grid;
  place-items: center;
}

.child {
  height: 50%;
  width: 50%;
  background-color: red;
}
*/

.parent {
  height: 350px;
  width: 350px;
  background-color: blue;

  position: relative;
}

.child {
  height: 50%;
  width: 50%;
  background-color: red;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
